{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="apple-touch-icon-precomposed" href="{% static 'core/img/favicon-152.png' %}">
  <link rel="shortcut icon" sizes="16x16 32x32" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="{% static 'core/img/favicon-144.png' %}">

  <title>MealJet - ~15mins. 8 bucks. No tips.</title>

  <!-- Facebook Meta-Tags -->
  <meta property="og:title" content="MealJet -- Healthy Food Delivered"/>
  <meta property="og:site_name" content="MealJet"/>
  <meta property="og:url" content="https://www.mealjet.co"/>
  <meta property="og:image" content="https://www.mealjet.co{% static 'core/img/feature.png' %}?t=12345?">
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="Looking for new food everyday? MealJet is there for you"/>

  <!-- Twitter Meta-Tags -->
  <meta name="twitter:card" content="product">
  <meta name="twitter:site" content="@mealjet">
  <meta name="twitter:creator" content="@mealjet">
  <meta name="twitter:title" content="MealJet">
  <meta name="twitter:description" content="~15mins. 8 bucks. No tips.">
  <meta name="twitter:image" content="https://www.mealjet.co{% static 'core/img/withflame.png' %}">
  <meta name="twitter:height" content="200">
  <meta name="twitter:width" content="300">
  <meta name="twitter:data1" content="$8">
  <meta name="twitter:label1" content="Price">
  <meta name="twitter:data2" content="Ann Arbor, MI">
  <meta name="twitter:label2" content="Location">

  <!--Google Arvo Font-->
  <link href='https://fonts.googleapis.com/css?family=Arvo:400,400italic' rel='stylesheet' type='text/css'>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'core/css/base.css' %}" rel="stylesheet">


  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>

        <nav class="navbar navbar-fixed-top self-navbar-green" role="navigation">
            <div class="container-fluid">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header self-navbar-icon">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="logo-link" href="/">
                        <img src="{% static 'core/img/MealJet_Logo.svg' %}" class="navbar-brand logo-img home-btn" alt="MealJet Logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                      <li class="home-btn"><a href="/">Home</a></li>
                      <li><a href="/about/">About</a></li>
                      <li class="active"><a href="/faq/">FAQ</a></li>
                      <li><a href="https://twitter.com/mealjet">@MealJet</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->

            </div><!-- /.container-fluid -->
        </nav>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <script type="text/javascript" src="{% static 'core/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/script.base.js' %}"></script>


    </body>
</html>