{% extends 'core/base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link href="{% static 'core/css/faq.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <p class="lead cover-heading">Frequently Asked Questions</p>
</div>

<div class="row">
  <div id="glyph-1" class="col-xs-4 col-xs-offset-4">
    ?
</div>
</div>


<div id="faq-wrapper" class="col-md-6 col-md-offset-3">
    <dl class="text-left">

        <dt>1. Hours of operation?</dt>
        <dd>
          MealJet is currently open during <i>lunch</i> on select days from <strong>11:30 am to 2:30 pm</strong> and <i>dinner</i> on from  <strong>5:30 pm to 8:30 pm</strong> on others. Our hours will be expanding in the near future.
        </dd>
        <dt>2. Where does MealJet deliver to?</dt>
        <dd>
                We currently deliver to Central Ann Arbor campus. Please refer to the map for more detail
                <a href="{% static 'core/img/deliveryArea_v2.png' %}" target="_blank">
                    <img src="{% static 'core/img/deliveryArea_v2.png' %}" class="magniflier img-responsive img-thumbnail self-img-thumbnail" alt="Responsive image"/>
                </a>
        </dd>
        <dt>3. What is MealJet?</dt>
        <dd>
          MealJets are packed with hot, fresh food and are on the road during meal hours, ready for your order. There is always a vegetarian and meat option available. When your order is placed from the website, a MealJet is already on the go heading to your curb! This ensures a fast delivery in less than 15 minutes!
        </dd>
        <dt>4. Why was MealJet created?</dt>
        <dd>
          MealJet was created because we found there are few convenient and healthy food options around Ann Arbor. Currently the customer goes to the food, but the food should go to the customer quickly and at a very affordable price point.
        </dd>
        <dt>5. How can I ensure prompt service?</dt>
        <dd>
          MealJet will meet you at the curb! We will call you with a <i>“come to the curb”</i> call when we are 3 minutes away with the food. The goal is for you and the MealJet to arrive at the same time. If you are not there when we reach the curb, the driver will ring again. If you are not there promptly, the driver will be obligated to drive away. 3 minutes is a sufficient amount of time to come to the curb. We will call earlier if you live in a tall apartment complex.
        </dd>

        <dt>6. Where do you get your food?</dt>
        <dd>
          We work with local restaurants to supply the delicious food you order. If you have any restaurants that you want to have in our service, let us know!
        </dd>
        <dt>7. How fresh is your food?</dt>
        <dd>
          We pick the food up from the restaurant just before service hours and deliver it to you hot! Our method of insulating the meals keeps the food warm to the touch and tongue. Our testers say it even tastes better than if you walked to the restaurant to get it!
        </dd>
        <dt>8. What if it does not come within the time advertised?</dt>
        <dd>
          If the meal does not come within 20 minutes, we will make sure the next meal is delivered to you! It is highly unlikely that it will take longer than 20 minutes. If you feel need to reach us instantly, tweet us <a href="https://twitter.com/mealjet" target="_blank"> @mealjet </a>. We are on twitter 24/7.
        </dd>
        <dt>9. Do you take cash?<dt>
        <dd>
            MealJet is all about efficiency. We do not view cash as an efficient method of payment, so we only accept online payment via most major credit and debit cards.
        </dd>
        <dt>10. Why no tip? Can I still tip even if service is really good?</dt>
        <dd>
            We currently do not accept tip because we believe tipping is not convenient! If you appreciated our service, tell your friends, tweet it, snapchat it, let the world now, and order again!
        </dd>
        <dt>11. What is your privacy policy?</dt>
        <dd>
            Glad you asked! You can find our privacy policy attached <a href="/static/pdf/PrivacyPolicy.pdf">here</a>
        </dd>
        <dt>12. What are your terms of service?</dt>
        <dd>
            As with everything in MealJet, you can catch our lean and mean terms of service <a href="/static/pdf/TermsofService.pdf">here</a>
        </dd>
        <dt>13. What is your refund policy?</dt>
        <dd>
            If you are not 100% satisfied with your purchase, please thoroughly detail your case and send it in an email to support@mealjet.co. Through fair judgement, you can potentially get an exchange in credit at MealJet.<br><br>
            You can send your case for up to 3 days from the date you purchased that Meal.
        </dd>
        <dt>14. How can I contact you?</dt>
        <dd>

            For immediate support, tweet us at <a href="https://twitter.com/mealjet" target="_blank"> @mealjet </a> or call us at <a href="tel:+1-484-716-9644">(484)-716-9644</a><br>
            For other support email us <a href="mailto:support@mealjet.co" target="_blank">support@mealjet.co</a> <br>
            For press contact, email us <a href="mailto:press@mealjet.co" target="_blank">press@mealjet.co</a> <br>
        </dd>
    </dl>
</div>

{% endblock %}


{% block extra_js %}
<script type="text/javascript" src="{% static 'core/js/script.faq.js' %}"></script>
{% endblock %}

