
/*
 * Globals
 */



/* Links */
a,
a:focus,
a:hover {
  color: #000;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  /*background-image:url('');*/
  /*background-color: #3e4e65;*/
  background-color: #FFFFFF
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-position:center;
  background-attachment: scroll;

}
body {
  color: #000;
  text-align: center;
  /*text-shadow: 0 1px 1px rgba(0,0,0,.25);*/
  /*box-shadow: inset 0 0 15px rgba(0,0,0,.5);*/
  padding-top:51px;
  /*background:url(img/background.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
    font-family: 'Arvo', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */

/* Padding for spacing */
.inner {
  padding: 30px;
}

.nopadding {
  padding: 0;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.self-img-thumbnail {
  border-radius: 10px;
  border: 0px solid #FFFFFF;
}

/** Header **/
.self-navbar-green {
  background:#38b056;
/*  -webkit-box-shadow: 0 10px 0 0 #3e4e65;
  box-shadow: 0 10px 0 0 #3e4e65;*/

  -webkit-box-shadow: 0 10px 0 0 #FFFFFF;
  box-shadow: 0 10px 0 0 #FFFFFF;

}

.self-navbar-green a {
  color:white;
}

.self-navbar-green a:hover {
  background:#2ecc71 !important;
}

.self-navbar-icon button {
  /*background-color: #fff;*/
  color: #fff;
  border: 2px solid white;
}

.self-navbar-icon span {
  background-color: #fff;
}

.logo-link,
{
    padding: 0;
}

.logo-img:hover {

    padding: 0 10px 0 10px;
    background-color: #2ecc71;
}

.logo-img {
    padding: 0 10px 0 10px;
}

/** Container **/
.self-container-nopadding {
  padding: 30px 30px 30px 30px;
}

/*
 * Cover
 */
.inner {
  padding: 30px;
}

.cover {
  padding: 0 20px;
  padding-top:150px;
  color:black;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.cover-heading {
  font-size: 1.9em;
  /*margin-left: -3%;*/
}

p.cover-glyph {
  font-weight: 400 italic;
}

/*Special offset for lg screen sizes*/

#glyph-1.col-lg-offset-1 {
  margin-left: 12.5%;
}

#glyph-1 {
  font-size: 20em;
  color: #38b056;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0;
}


/** Collapsable Containers **/

.circle-num
{
  border: 0px solid #38b056;

  background:#FFFFFF;
  width: 25px;
  height: 25px;
  border-radius:50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size:1em;
  color: #38b056;
}

.panel-heading-divider {
  height: 5px;
  background-color: #3e4e65;
}

.self-container-nopadding .row {
  margin:0;
}

.self-panel-heading {
    background-color: #38b056;
    border-color: #38b056;
    padding: 2% 0 2% 0;
    color: white;
}

.self-panel-heading > .panel-title {
    font-size: 30px;
    font-weight: 400 italic;
}

.self-panel {
    border: none;
}

#accordion {
  margin-top:15px;
}

#accord-one, #accord-two, #accord-three {
  display:none;
}

a.link-fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.self-panel-heading:hover {
  background-color: #2ecc71;
}

.ingredients {
    background-color: inherit;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.self-btn {
    background-color: #3e4e65;
    border-color: #3e4e65;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
}

.self-btn:hover,
.self-btn:focus,
.self-btn:active {
    background-color: #334155;
    border-color: #334155;
    color: #fff;
}

.self-has-success {
  border-bottom: 5px solid #3c763d;
}

.self-has-error {
  border-bottom: 5px solid #a94442;
}

.self-has-success .self-form-contol-feedback {
  color: #3c763d;
}

.self-has-error .self-form-contol-feedback {
  color: #a94442;
}

.self-form-contol-feedback {
  top: 0 !important;
}

.quantityBox[readonly] {
    background-color: #38b056;
    color: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#deliveryMapTitle {
  margin-top: -.5%;
}

/* FAQ Box */


#faq-wrapper {
  /*border: 2px solid #3e4e65;*/
  padding: 2%;
}

#faq-wrapper > dl > dt {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #38b056;
}

#faq-wrapper > dl > dd {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: justify;
}

#faq-wrapper > dl > dd > a {
  color: #3e4e65;
}

/* ABOUT WRAPPER */
#block-quote-border {
  border-color: #3e4e65;
}

#about-head {

  font-size: 1.7em;
  color: #38b056;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 0;

}

#about-head ul li {
  margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {

    .self-panel-heading {
        background-color: #38b056;
        padding: 10% 0 10% 0;
    }
    .self-panel-heading > .panel-title {
      font-size: 18px;
    }

    .cover-heading {
        font-size: 1.4em;
    }

    #glyph-1 {
        font-size: 10em;
    }

    #faq-wrapper > dl > dd {
      text-align: left;
    }

}


